<!DOCTYPE html>
<html>
<head>
  <title><%= name %></title>
<!--  <script type="application/ld+json"><%#= metadata.generate %></script>-->
  <meta name="generator" content="https://github.com/fbacall/ro-crate-ruby">
  <style>
      body {
          background-color: white;
          color: #555555;
          font-family: "Arial", "sans-serif";
      }

      table {
          border-collapse: collapse;
          width: auto;
      }

      table,th,tr,td {
          border: 1px #cdcdcd solid;
      }

      th {
          text-align: left;
      }

      table.invisible-layout-table, table.invisible-layout-table tr, table.invisible-layout-table td {
          border: none;
      }

      td.field-name {
          text-align: right;
          font-weight: bold;
          white-space: nowrap;
      }

  </style>
</head>
<body>
<h1><%= name %></h1>
<p><%= description %></p>
<br/>
<table class="invisible-layout-table">
  <% if author %>
    <tr>
      <td class="field-name">Author:</td>
      <td><%= author %></td>
    </tr>
  <% end %>
  <% if contact_point %>
    <tr>
      <td class="field-name">Contact Point:</td>
      <td><%= contact_point %></td>
    </tr>
  <% end %>
  <% if publisher %>
    <tr>
      <td class="field-name">Publisher:</td>
      <td><%= publisher.properties['name'] %></td>
    </tr>
  <% end %>
  <% if license %>
    <tr>
      <td class="field-name">License:</td>
      <td><%= license.properties['@id'] %></td>
    </tr>
  <% end %>
</table>

<h2>Contents</h2>
<table>
  <tr>
    <th>File/folder</th>
    <th>Annotations</th>
  </tr>

  <% data_entities.each do |data_entity| %>
    <tr>
      <td><%= data_entity.id %></td>
      <td>
        <% if data_entity.properties['additionalProperty'] %>
          <% data_entity.properties['additionalProperty'].each do |annotation| %>
            <% if annotation['name'] != nil && annotation['name'] != '' %>
              <b><%=annotation['name']%>:</b> <%=annotation['value'] %>
            <% else %>
              <b>(undefined):</b> <%=annotation['value'] %>
            <% end %>
          <% end %>
        <% else %>
          &nbsp;
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

</body>
</html>